{% include "header.html" %}
<body class="website manage">
<div class="viewer-recipe-container">
  <div class="home"></div>
  <div class="img">
      <img src="static/assets/img/profile pic.jpg"  width="500" height="600">


  </div>
  <div class="description">
      <h3>description</h3>
      <p>hi there welcome to the website hopefully you find something gd on herethe about section
          contains my qualification and work experience the project section contains downloadbale copyies of
          projects and the art recipes section contain well recipes and art</p>
  </div>
</div>



















{% include "footer.html" %}