{% include "header.html" %}
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.control_button {width: 30%;
font-size: 40%
}


.button_title{
color="#800080"}

</style>



<h2 align="center">recipes </h2>
<p align="center">the joy of food isnt eating it sharing a universal language that has recorded the history of humanity for every story
                                        wrote there was a recipe made the true symbol of a country is its
                                              flag  its true story is its national dish </p>
{% if  current_user.id == 1: %}
<div class="container position-relative pt-sm-5 pb-sm-5 mb-5 pt-1 mt-4">
{% from 'bootstrap5/form.html' import render_form %}

            <h2 align="center">add recipe form</h2>
        {{ render_form(recipe_form) }}
    </div>
   {% endif  %}


<div class="row">
    {% for r in recipes %}
      <div class="column">




    <div class="card">
      <h3>{{ r.recipe_name|safe }}</h3>
      <p>{{ r.recipe_date|safe }}</p>
      <p>{{ r.description|safe }}</p>
        <img id="view_id_pic"  src="static/assets/recipe_image/{{r.file_path}}">

                <div class="container position-relative pt-sm-5 pb-sm-5 mb-5 pt-1 mt-4">

      <button class="control_button"><a href="{{ url_for('download_recipes',text=r.id) }}">download</a></button>
                <button class="control_button"><a href="{{ url_for('view_recipe',r=r.id) }}"><h3>view paper</h3></a></button>
            {% if  current_user.id == 1: %}
        <button class="control_button"><a href="{{ url_for('delete_recipes',text=r.id) }}"><h3>delete</h3></a></button>
               {% endif  %}
    </div>

 </div>


</div>

{% endfor %}

  </div>


{% include "footer.html" %}